name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn install --no-lockfile --ignore-scripts
      - run: yarn build
      - run: yarn test
      - run: yarn install --no-lockfile --cwd acceptance-tests --ignore-scripts
      - run: yarn test:acceptance
